@import "../../../root.scss";

.movieCard-wrapper {
  padding: 0.6rem !important;
  display: flex;
  background-color: $backgroundColor;
  flex: 1 1 47.6%;
  flex-wrap: wrap;
  .MuiPaper-root {
    border-radius: 5px;
  }
}
.movieCard {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  background-color: $secondaryBgColor !important;
  width: 100%;
  @media (max-width: 426px) {
    margin-left: 1rem;
    .movie-img {
      object-fit: contain;
      height: 100%;
      width: 40%;
    }
  }
}

.movieCard-content {
  display: flex;
  flex-direction: column;
  background-color: $secondaryBgColor !important;
  width: 50%;
  @media (max-width: 426px) {
    height: 50% !important;
  }
}

.movieCard-rating {
  font-size: 1rem;
}

.movieCard-buttons {
  display: flex;
  margin-top: auto;
  width: 100%;
  justify-content: flex-end;
}

.successDeleteSnackbar,
.successAddSnackbar {
  .MuiButtonBase-root .MuiSvgIcon-root {
    color: lighten($color: black, $amount: 70) !important;
  }
}
