@import "../../../root.scss";

.MuiPagination-root .MuiPaginationItem-root {
  color: $primaryColor !important;
}
@media (max-width: 1024px) {
  .MuiPagination-ul {
    flex-wrap: nowrap !important;
    li button {
      min-width: 15px;
      border-radius: 15px;
      font-size: 15px !important;
      padding: 0 2px;
      line-height: 1px;
    }
  }
}
