@import "../../../root.scss";

.MuiPagination-root .MuiPaginationItem-root {
  color: $primaryColor !important;
}

.MuiPagination-ul {
  justify-content: center !important;
}
@media (max-width: 1300px) {
  .MuiPagination-ul {
    flex-wrap: nowrap !important;
    padding: 10px;
    justify-content: center !important;
    li button {
      min-width: 15px;
      border-radius: 15px;
      font-size: 15px !important;
      padding: 0 3px;
      line-height: 1px;
    }
  }
}
@media (max-width: 1024px) {
  .pagination {
    width: 89vw;
    margin-left: 2rem;
    .MuiPagination-ul {
      li button {
        min-width: 25px;
        border-radius: 15px;
        font-size: 15px !important;
        padding: 0 3px;
        line-height: 1px;
      }
    }
  }
}
