.Mui-focused {
  color: #efe1ce !important;
}
.MuiOutlinedInput-root {
  color: white;
}
.MuiSelect-icon {
  color: #efe1ce !important;
}
.MuiOutlinedInput-notchedOutline {
  border: 1px solid #efe1ce !important;
}
.Mui-checked {
  color: #c79652 !important;
}
