.favMovies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 96vw;
  padding: 0.3rem;
  // @media (max-width: 1024px) {
  //   height: auto;
  //   justify-content: center;
  // }
  // @media (max-width: 426px) {
  //   .MuiPaper-root {
  //     height: 100%;
  //     border-radius: 5px;
  //   }
  // }
}

.favMovies-undefined {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
