.favMovies-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 96vw;
  padding: 0.3rem;
}

.favMovies-undefined {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
