@import "../../root.scss";

.MuiCardContent-root {
  color: $primaryColor !important;
}
.MuiRating-root .MuiRating-iconEmpty {
  color: red !important;
}

.genres-chip {
  font-size: 33px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 2px 2px;
  color: red;
}
.moviesPage-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  .MuiPaper-root {
    background-color: $secondaryBgColor;
  }
}
