@keyframes fadeCustom {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 1 !important;
  }
}

.swiper-lazy-loaded {
  transition: 0.7s opacity !important;
  opacity: 1 !important;
}
.swiper-lazy-loading {
  opacity: 0 !important;
}
.swiper-lazy-preloader {
  opacity: 0 !important;
}

.swiper-wrapper {
  width: 55vw;
  @media (max-width: 768px) {
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
