@import "../../../../../root.scss";

.Mui-focused {
  color: $primaryColor !important;
}
.MuiOutlinedInput-root {
  color: white;
}
.MuiSelect-icon {
  color: $primaryColor !important;
}
.MuiOutlinedInput-notchedOutline {
  border: 1px solid $primaryColor !important;
}
.Mui-checked {
  color: #c79652 !important;
}
.MuiList-root {
  background-color: $secondaryBgColor !important;
  color: $primaryColor !important;
}

.genres-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
  .genres {
    margin: 0.5rem;
    width: 20vw;
    @media (max-width: 600px) {
      width: 50vw;
    }
  }
}
